@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  /* padding: 0;
  margin: 0;
  box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

/* Custom styles for select dropdown */
select {
  background-color: white;
  border: none; /* Tailwind's border-gray-300 */
  border-radius: 0.5rem; /* Tailwind's rounded-lg */
  padding: 0.5rem 2rem 0.5rem 1rem; /* Tailwind's p-2 with extra padding for arrow */
  font-size: 1rem; /* Tailwind's text-base */
  color: #4a5568; /* Tailwind's text-gray-700 */
  cursor: pointer;
}

#allprices {
  appearance: none;
}

select:hover {
  border-color: #a0aec0;
}

select:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
